In [1]:
#which keyword is used to create a funtion? Create a function to return a list of odd numbers in the range of 1 to 25

In [19]:
#def is the function
def odd_numbers():
    yo_number = []
    for num in range(1,26):
        if num % 2 != 0:
            yo_number.append(num)
    return yo_number

In [21]:
odd_numbers()

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]

In [23]:
#why *args and *kwargs is used in some functions? create a function for each of them to demonstrate theri use

In [28]:
def test1(*args):
    l=[]
    for i in args :
        if type(i)==list:
            l.append(i)
    return l

In [29]:
test1(1,2,3,4,[4,5,6,8,9],"sid",[1,2,3,4,50],5,6)

[[4, 5, 6, 8, 9], [1, 2, 3, 4, 50]]

In [33]:
def test2(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i])==list:
            return i ,kwargs[i]

In [42]:
test2(a=56 ,b =92 , c=[1,2,3,4,5,6],d=("siddharth"," sarma"))

TypeError: test2() got an unexpected keyword argument 'a'

In [43]:
#what is an iterator in python? name the method used to intiolise the iterator object and the method 
#used for iteration,Use this method to print first five elements of the givenlist[2,4,6,8,10,12,14,16,18,20]

In [49]:
#go through a sequence of elements one at a time
list=[2,4,6,8,10,12,14,16,18,20]
iterator=iter(list)
for i in range(5):
        element=next(iterator)
        print(element)

2
4
6
8
10

In [50]:
#what is a generator function in python?Give an example of a generator function

In [51]:
def test3(n):
    a,b=0,1
    for i in range(n):
        yield a
        a,b= b, b+a

In [52]:
for i in test3(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [53]:
#Create a generator function for prime numbers less than 1000 . use the next()method to print the first 20

In [55]:
#i dont know how to do it

In [56]:
#Q1. Create a python program to sort the given list of tuples based on integer value using a
#lambda function.
#[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [57]:
#dont know how to do

In [58]:
# Write a Python Program to find the squares of all the numbers in the given list of integers using
#lambda and map functions.
#[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [65]:
l=[1,2,3,4,5,6,7,8,9,10]

In [60]:
def sq(x):
    return x**2

In [64]:
list(map(lambda x : x**2,l))

TypeError: 'list' object is not callable

In [68]:
def test(l):
    l1=[]
    for i in l:
        l1.append(i**2)
        
    return l1

In [69]:
test(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [70]:
#Write a python program to convert the given list of integers into a tuple of strings. Use map and
#lambda functions

In [74]:
a=list(map(lambda x : str(x) , l))

TypeError: 'list' object is not callable